  <%- contentFor('body') %>

  <div class="container">
    <div class="row">

      <div class="col-md-9 col-md-push-3">

        <h2>Dr. Sajjad Waheed</h2>
        <p>My background is in Applied Linguistics and I have taught Academic English at both the University of Edinburgh (1999-1992) and the University of Adelaide (1993-present). My major roles in the School of Education are to enable master's student academic development through teaching into research processes and communication courses. In addition, I coordinated and taught in the Introductory Academic Program (IAP) for AusAID international students from 2006-2016. I also lectured in the Integrated Bridging Program (IBP) for postgraduate research students from its inception in 1994 until 2015. Currently I am also involved in an ongoing consulting capacity, co-chairing the committee (PAC) which oversees the Pre-Enrolment English Program (PEP) offered by Professional and Continuing Education at the University.
          My specific research interests include:
          -Cultural dimensions of academic writing, particularly in relation to plagiarism and feedback.
          -Development of lifelong learning through reflective practice.
          -Pedagogical approaches to student diversity, focussing on transcultural reflective practices.
          -Relevance of postgraduate research skills courses to thesis outcomes
          -Curriculum innovation, design and renewal, including new technologies.
          -Role of pathway programs for English as an Additional Language (EAL) students in enhancing their future success.</p>

          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">My Research</a></li>
            <li><a data-toggle="tab" href="#menu1">Career</a></li>
            <li><a data-toggle="tab" href="#menu2">Grants and Fundings</a></li>
            <li><a data-toggle="tab" href="#menu3">Teaching</a></li>
            <li><a data-toggle="tab" href="#menu3">Contacts</a></li>
          </ul>

          <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
              <h3>HOME</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div id="menu1" class="tab-pane fade">
              <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Collapsible Group 1</a>
                    </h4>
                  </div>
                  <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Collapsible Group 2</a>
                      </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Collapsible Group 3</a>
                        </h4>
                      </div>
                      <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                        </div>
                      </div>
                    </div> 
                    
                  </div>
                  <div id="menu2" class="tab-pane fade">
                    <h3>Menu 2</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                  </div>
                  <div id="menu3" class="tab-pane fade">
                    <h3>Menu 3</h3>
                    <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                  </div>
                </div>

              </div>

              <div class="col-md-3 col-md-pull-9">
                <img src="images/motiur.jpg" alt="Cinque Terre" class="img-rounded" width="250" height="250"><br><br>
                <b>Connect With Me</b>
                <p>motiur.mbstu@gmail.com</p>

              </div>

            </div>
          </div>
          
          <hr>
