<%- contentFor('body') %>
<!-- Page Content -->
<div class="container">


  <div class="container"><h2>Department of Information and Communication Technology</h2></div>


  <div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Delete info</h3>
            </div>
            <div class="panel-body">
                <form role="form" method="post">
                    <fieldset>
                        <div class="form-group">
                            <label  for="loginType">Select Catagories</label>

                            <div>
                                <select name="collectionName" class="form-control" id="collectionName" required>
                                  <option value="">Select Catagories</option>
                                  <option value="academic">Academic Qualification</option>
                                  <option value="trainingExperience">Training Experience</option>
                                  <option value="researchInfo">Research</option>  
                                  <option value="publication">Publication</option>  
                                  <option value="award">Award</option>  
                                  <option value="preEmployment">Per Employment</option>  
                              </select>  
                          </div>
                      </div>

                      <div class="form-group">
                          <input class="form-control" placeholder="Enter corresponding ID" id="id" name="id" type="text" autofocus required>
                      </div>


                      <!-- Change this to a button or input when using this as a form -->
                      <button type="button" id="deletebtn" class="btn btn-lg btn-success btn-block">Delete info</button>
                  </fieldset>
              </form>
          </div>
      </div>
  </div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
    $("#deletebtn").click(function(event) {
        var id = $("#id").val();
        var collection = $("#collectionName").val();

        if(id!="" && collection!="")
        {
            if (confirm("Would you like to Delete?") == true) {
            $.ajax({
                url: '/admin/delete/'+collection+'/'+id,
                type: 'POST',
                dataType: 'json',

            })
            .done(function(result) {
                $("#id").val("");
                alert(result);
            })
            .fail(function() {
                console.log("error");
            })
            .always(function() {
                console.log("complete");
            });


        } else {

        }

        }else{
            $("#id").focus();
        }

        

        
        
    });

</script>
